body { 
	margin: 0px; 
	padding: 0px; 
	font: 12px "Arial", Helvetica, Sans-Serif; 
	color: #000; 
	background-color: #fff;
}
img { 
	border: 0px; 
}
a {
	color: #FF6600;
	text-decoration: none;
}
a:hover { 
	color: #bf3e18; 
}
.banner {
	float: left;
	height: 100px;
	width: 254px;
	background-color: #FE7B00;
}
.header {
	float: right;
	width: 550px;
	height: 100px;
	background-color: #FE7B00;
}
.header h2 {
	margin: 20px 0px 0px 0px;
	font-size: 2.3em;
	letter-spacing: -0.5px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}
.header h2 a {
	color: #fff;
}
.header p {
	font-size: 12px;
	color: #fff;
	padding-top: 5px;
	margin: 2px 20px 0px 20px;
	border-top: 1px solid #fff;
	text-align: center;
	font-weight: bold;
}
.menuleft {
	float: left;
	width: 234px;
	padding: 0px 10px 0px 20px;
	margin: 0;
}
.menuleft h2 {
	background-color: #bf3e18;
	padding: 2px 0; 
	margin: -16px 0 5px 0; 
	color: #fff; 
	font: 14px "Arial", Helvetica, Sans-Serif; 
	text-align: center; 
	font-weight: bold; 
	border: 1px solid #e4e3e3;
}
.menu {
	margin: 0;
	padding: 0;
}
.base {
	float: right; 
	width: 500px;
	padding: 0 20px;
	margin: 0;
}
.base p {
	margin: 0px;
	padding: 5px 0 5px 0;
	font: 12px "Arial", Helvetica, Sans-Serif;
}
.base h1 {
	font-size: 1.6em;
	margin: 0;
	padding: 5px 0 5px 0px;
	letter-spacing: -0.2px;
	color: #808080;
	font-weight: bold;
	border-bottom: 2px solid #CCC;
}
.base h2 {
	font-size: 1.4em;
	color: #808080;
	font-weight: bold;
	letter-spacing: -.02em;
	background-color: #f5f5f5;
	margin:8px 0px 8px 0px;
	padding: 2px 0 2px 8px;
	border-left: 6px solid #557bef;
	border-top: 1px dotted #e4e3e3;
	border-bottom: 1px dotted #e4e3e3;
}
.base h3 {
	font-size: 1.4em;
	margin: 0;
	padding: 5px 0 5px 0px;
	color: #808080;
	font-weight: bold;
}
.menuWrapper, .spotTopWrapperSubpage, .spotMenuSeparatorWrapper, .footerWrapper {
	width: 100%;
}
.menuBlockSub, .spotTopBlockSubpage, .spotMenuSeparatorBlock, .baseBlock, .footerBlock {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 804px;
}
.menuWrapper {
	background: #fff url(images/bg_menu_tile_h.gif) repeat-x top left;
}
.menuBlockSub {
	overflow: hidden;
	height: 56px;
	background: url(images/bg_menu.gif) no-repeat top;
}
#menuItems { 
	padding: 0;
	font-size: 12px;
}
.menuWrapper a {
	padding-top: 19px;
	color: #999999;
	float: right;
	text-align: center;
	display: block;
	width: 134px;
	height: 54px;
	font-weight: bold;
}
.menuWrapper a:hover, #menuItems a.active {
	color: #000;
	text-decoration: none;
	background: url(images/menu_selected_1.gif) no-repeat;
}
.spotMenuSeparatorWrapper {
	clear: both;
	background: #fff url(images/bg_s_c_tile_h.gif) repeat-x top left;
}
.spotMenuSeparatorBlock {
	height: 21px;
	background: #fff url(images/bg_s_c.gif) no-repeat top;
}
.spotTopWrapperSubpage{
	background-color: #e5e5e5;
}
.spotTopBlockSubpage {
	height: 100px;
	overflow: hidden;
	background: #e5e5e5 url(images/bg_spot_subpage.gif) repeat-y top;
}
.baseBlock {
	background: #fff url(images/bg_content.gif) repeat-y top;
}
.baseArea {
	padding-left: 0px;
	padding-right: 0px;
}
.columnClear {
	height: 1px;
	font-size: 1px;
	clear: both;
	padding-bottom: 20px;
}
.footerWrapper {
	background-color: #F9F9F9;
}
.footerBlock { 
	height: 50px;
	color: #000;
	text-align: center;
	font-size: 14px;
	background-color: #f2f2f2;
}
.footerBlock a {
	color: #6a6a6a;
	text-decoration: none;
}
.footerbase {
	padding-top: 17px;
	padding-bottom: 10px;
}
#mission {
	padding: 10px 15px 10px 15px;
	margin: 0 0 10px 0;
	border: 1px solid #f2f2f2;
	background-color: #F9F9F9;
	text-align: center;
}
.node {
	margin: 8px 0;
	padding-bottom: 5px;
	border-bottom: dashed #DADCE0 1px;
}
.block {
	background-color: #fbfbfb;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 20px 0px;
	border: 1px solid #f2f2f2;
}
ul.menu, .item-list ul {
	margin: 0.35em 0 0 -0.5em;
	padding: 0;
	text-align: left;
}
ul.menu ul, .item-list ul ul { 
	margin-left: 0em;
}
ul.menu li, .item-list ul li, li.leaf { 
	margin: 0.15em 0 0.15em .5em;
}
ul.menu li, .item-list ul li, li.leaf {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
}
ul.menu li.expanded {
	background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}
ul.menu li.collapsed {
	background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}
ul.menu li.leaf a, ul.menu li.expanded a, ul.menu li.collapsed a {
	display: block;
}
.poll .bar {
	height: 14px;
	background-color: #D4E2F2;
}
.poll .bar .foreground {
	background: url(images/bg-poll.gif) repeat-x;
	height: 14px;
	clear: none;
	float: left;
}
.poll .vote-form {
	text-align: center;
}
.poll .vote-form .choices {
	padding-left: 5%;
	text-align: left;
	display: block;
}
table {
	margin: 0.5em 0 1em 0;
	width: 100%;
}
thead th {
	border-bottom: 2px solid #AAB5C3;
	color: #678;
	font-size: 90%;
	font-weight: bold;
	background: url(images/bg-thead.gif) repeat-x bottom left;
	padding: 4px 5px 0 5px;
}
tr.even, tr.odd {
	border-color: #DADCE0;
}
tr.even {
	background-color: #fbfcfe;
}
tr.odd {
	background-color: #fff;
}
td.active {
	background: #e4ecf5;
}
td {
	padding: 3px;
}
td.menu-disabled {
	background-color: #E5E5E5;
}
.book-navigation .menu, .forum-topic-navigation {
	padding: 0px 0px 8px 20px;
	margin-bottom: 10px;
}
.book-navigation .page-links, .forum-topic-navigation {
	padding: 2px;	
	font-size: 11px;
	border-top: #c0c0c0 1px solid;
	border-bottom: #c0c0c0 1px solid;
	background-color: #fbfbfb;
	text-align: center
}
.form-text  {
	border:1px solid #e1e1e1;
	padding: 0px 5px 0px 5px;
	background: #f5f9fc;
	margin: 0 2px 0 0;
	color: #000000;
	font-weight: normal;
	width: 100px;
}
form {
	font: 110% Arial, Helvetica, sans-serif;
}
form label{
	color: #ff0000;
}
form input{
	background:#f5f9fc;
	border: 1px solid #e1e1e1;
	padding: 3px;
	margin-top: 3px;
}
form textarea{
	height: 115px;
	background:#f5f9fc;
	border: 1px solid #e1e1e1;
	padding: 2px;
	margin-top: 3px;
}
form textarea:focus, form input[type="text"]:focus {
	background: #ffffff;
}
form input[type="submit"] {
	background-color: #0066cc;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	cursor: pointer;
	padding: 0px 5px 0px 5px;
	margin: 0 2px 0 0;
	border:1px solid #e8e8e8;
}
.submitted  { 
	font-size: 9px;
	color: #898989;
	padding: 1px 0 1px 5px;
	margin: 0px 0 5px 0;
	background: #f9f9f9 url(images/mini-calendar.gif) no-repeat left center;
	padding-left: 20px;
}
.terms {
	color: #898989;	
}
.terms a { 
	padding: 1px 5px;
	color: #fff;
	font-size: 9px;
	text-decoration: none;
	background: #ccc url(images/mini-category.gif) no-repeat left center;
	padding-left: 20px;
}
img.left {
	background-color: #fff;
	border: 1px solid #e4e3e3;
	padding: 5px;
	float:left;
	margin:3px 12px 0 0;
}
img.right {
	background-color: #fff;
	border: 1px solid #e4e3e3;
	padding: 5px;
	float:right;
	margin:3px 0 0 12px;
}
img.center {
	display: block;
	margin:0 auto;
}
.picture {
	float:left;
	margin:0 10px 2px 0;
}
.sticky {
	padding: 8px 15px 15px 15px;
	background-color: #fbfbfb;
	border: 1px solid #e4e3e3;
	margin-bottom: 10px;
}
.breadcrumb {
	padding: 2px 10px 2px 10px;
	margin: 0 0 10px 0;
	background-color: #9dcd96;
}
.breadcrumb a {
	color: #fff;
}
#forum td.container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;	
	font-weight: bold;
	letter-spacing: -.02em;
	background-color: #557bef;
	padding: 0;	
	margin:8px 0px 8px 0px;
	padding: 2px 0 2px 8px;
	color: #fff;
}

#forum td.container a {
	color: #fff;
	text-decoration: none;
}
.last-reply, .created {
	font-size: 9px;
}
.post-cat {
	background: url(images/mini-category.gif) no-repeat left center;
	padding-left: 20px;
	float:left;
	color: #999999;
}
.post-comments {
	background: url(images/mini-comments.gif) no-repeat left center;
	padding-left: 10px;
	float: right;
}
.post-calendar {
	background: url(images/mini-calendar.gif) no-repeat left center;
	padding-left: 20px;
	float: right;
	color: #999999;
}
.post-content {
	clear: both;
	padding-top: 10px;
}
.node_read_more a {
	background: url(images/mini-more.gif) no-repeat left center;
	padding-left: 15px;
}
.comment_add a {
	background: url(images/mini-comments-add.gif) no-repeat left center;
	padding-left: 15px;
}
li.comment_delete a {
	background: url(images/mini-trash.gif) no-repeat 0 0;
	padding-left: 15px;
}
li.comment_edit a {
	background: url(images/mini-edit.gif) no-repeat 0 0;
	padding-left: 15px;
}
li.comment_reply a {
	background: url(images/mini-comments.gif) no-repeat 0 0;
	padding-left: 15px;
}
.links  {
	font-size: 10px;
	float: right;
}
.new   { 
	font-size: 9px;
	background-color: #ff0000;
	color: #fff;
	padding: 0px 5px 0px 5px;
}
.copy { 
	font-size: 9px;
	color: #ccc;
}
.copy a {
	padding: 0 3px; 
	color: #f5f5f5; 
	background-color: #ccc; 
	text-decoration: none;
}
.form-item {
	font-size: 12px;
}